<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Comidas</h4>
        <p class="list-group-item-text">Desayunos, Almuerzos, Cenas</p>
    </a>
    <br>
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Express</h4>
        <p class="list-group-item-text">Costos de envios</p>
    </a>
    <br>
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Eventos</h4>
        <p class="list-group-item-text">Catering Service</p>
    </a>
</div>